/* PORTFOLIO Main Page Styles Start */


/* Color Palette */ 
:root {
    --primary-color: #efb7ca;
    --secondary-color: #8e1f1f;
    --tertiary-color: #f3d25c;
    --fourth-color: #e87c5a;
    --fifth-color: #ffffff;
}

/* Color Classes */ 
.primary-color {
    color: var(--primary-color)
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.fourth-color {
    color: var(--fourth-color);
}

.fifth-color {
    color: var(--fifth-color);
}

body {
    background-color: var(--fifth-color);
    font-family: "Courier New", Courier, monospace;
    margin-right: 0;
    padding-right: 0;
}

/* Main Page Styles End */

/* Header Styles Start */

header {
    padding: 15px 30px 0px 30px;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
}

header h1 a {
    font-weight: normal;
    font-size: 40px;
    color: var(--primary-color);
}

header h1 a:hover {
    color: var(--primary-color);
}

header a:hover {
    font-weight: bolder;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: right;
    padding: 15px 0;
    font-size: 24px;
}

#about-link:hover {
    color: var(--secondary-color);
}

#work-link:hover {
    color: var(--tertiary-color);
}

#contact-link:hover {
    color: var(--fourth-color);
}

header nav ul li {
    padding: 0 0 9px 5px;
}

header nav ul li .tertiary-color, header nav ul li .fourth-color {
    padding-left: 30px;
}

/* Header Styles End */

/* Hero Styles Start */
.hero {
    background-image: url(./images/moose.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* General Section Styles Start */

h2 {
    white-space: nowrap;
}

.text-column {
}

#about-me, #work, #contact-me {
    padding-top: 20px;
    padding-left: 20px;
    width: 100vw;
}

#about-me-header {
    margin-bottom: 20px;
}

/* General Section Styles End */

/* Work Styles Start */

.password {
    background-image: url(./images/password.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.password:hover {
    background-size: 350px;
}

.scheduler {
    background-image: url(./images/scheduler.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.scheduler:hover {
    background-size: 350px;
}

.weather {
    background-image: url(./images/weather.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.weather:hover {
    background-size: 350px;
}

.covid {
    background-image: url(./images/covid.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.covid:hover {
    background-size: 350px;
}

#contact-links {
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

#linkedin {
    padding-right: 150px;
    padding-left: 80px;
}

/* div.text {
    padding: 5px 100px 10px 100px;
    border-left: solid 1px var(--primary-color);
} */

.container {
    margin: 0;
    padding: 0;
}
.about img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

/* Contact Styles */

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    font-weight: bolder;
}

.contact .text {
    padding-top: 10px;
}

/* Media Queries Start */

/* Media Query for Smaller Desktop Screens and Smaller */

@media screen and (max-width: 980px) {

header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header h1 a {
    font-size: 30px;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

header nav ul li {
    padding-bottom: 25px;
}

header nav ul li a {
    font-size: 20px;
}

h2 {
    margin: 0 auto;
}

}


/* Media Query for Iphones and Smaller */

@media screen and (max-width: 750px) {

    header h1 a {
        font-size: 25px;
    }

    header nav ul li a {
        font-size: 12px;
    }
}